# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Dependency directories
node_modules/
jspm_packages/
socket/JSON Files

# Build artefacts
build/
dist/
dist-ssr/

# package-lock.json is ignored in client as yarn.lock is already there. 
website/package-lock.json
!server/package-lock.json

# Yarn Integrity file
.yarn-integrity

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript v1 declaration files
typings/
server/.env
