.MatchCard {
	width: 95%;
	height: 6.5rem;
	display: flex;
	margin-top: 1.5rem;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	&:hover {
		cursor: pointer;
	}
}

.subTitle {
	font-family: Rubik, sans-serif;
	font-size: 20px;
	margin-right: 10px;
	color: #07003b;
	padding: 15px;
	text-align: center;
}
