# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

JSON Files/

# Dependency directories
node_modules/
jspm_packages/


# Build artefacts
build/
dist/
dist-ssr/

# Yarn Integrity file
.yarn-integrity

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript v1 declaration files
typings/

.env