@import './MediaQuery';

.background {
  background-color: #e5ebf0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include responsive(tablet) {
    justify-content: center;
  }

  @include responsive(mobile) {
    overflow-x: hidden;
    overflow-y: auto;
    @media only screen and (max-width: 400px) {
      height: 140%;
      justify-content: space-evenly;
    }
    height: 110%;
    justify-content: space-evenly;
  }
}
.Card {
  width: 50%;
  height: 70%;
  display: flex;
  margin-top: 7%;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: center;

  @include responsive(tablet2) {
    width: 65%;
  }

  @include responsive(tablet) {
    width: 85%;
    height: 82%;
  }

  @include responsive(mobile) {
    height: 80%;
    width: 85%;
  }
}
.title {
  font-family: Rubik, sans-serif;
  font-size: 40px;
  color: #07003b;
  font-weight: bold;
  @include responsive(mobile) {
    text-align: center;
    font-size: 40px;
  }
  @include responsive(tablet) {
    text-align: center;
    font-size: 35px;
  }
}
.subTitle {
  font-family: Rubik, sans-serif;
  font-size: 20px;
  color: #07003b;
  padding: 15px;
  text-align: center;
}
.Button {
  border-radius: 20px;
  background-color: #fd3a4b;
  color: white;
  width: 25%;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  align-self: center;
  &:hover {
    color: black;
    border-radius: 20px;
    border: 2px solid #fd3a4b;
  }
  @include responsive(mobile) {
    text-align: center;
    font-size: 12px;
  }
}

.ButtonGroup {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
